<tr>
  <td><%= link_to user.name, user %></td>

  <td><%= link_to 'Edit', [:edit, user], class: 'btn btn-success' %></td>

  <td><%= link_to 'Delete', user, method: :delete, class: 'btn btn-danger' %></td>
</tr>
